// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

$font-family-sans-serif: "Poppins", sans-serif;
$border-radius: 1rem;

// Variables
// @import 'variables';

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// // Custom
// @import "custom";

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/sweetalert2/dist/sweetalert2.min.css";

.item-small-photo {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
